
/* reset browser value  */
* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 120%;
    /* background: #223243; */
    background: #333;
    /* display: flex; */
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    /* background: #223243; */
    background: #333;
    text-align: center;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.35), inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);
}

form, .content{
    width: 30%;
    color: white;
    margin:0 auto;
    padding: 20px;
    border: 1px solid white;
    /* background: #223243; */
    background: #333;
    border-radius: 10px 10px 10px 10px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.35), inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);
}

.input-group {
    margin: 10px 0px 10px 0px;
   
}

.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input{
   /* background: #4d86c3; */
   background:  #223243;
   /* background:  #778492; */
   height: 30px;
   width: 93%;
   padding: 15px 25px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid rgb(46, 37, 145);
   
}

.btn{
    /* background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%); */
    background: linear-gradient(351.09deg, #a6c2ee 4.36%, #0452ab 117.5%);
    transition: all 0.5s;
    /* font-size: 20px; */
    /* color: rgb(109, 77, 77); */
    padding:10px 20px;
    /* background: wheat; */
    border-radius: 10px 10px 10px 10px;
    border: none;
    width: 90%;
    display: inline-block;
    /* padding:5px 15px; */
    font-size: 15px;
    /* background: #e9c0a7; */
    color: white;
    margin:0 3px;
    text-transform: uppercase;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    /* background: linear-gradient(351.09deg, #F0B000 4.36%, #F029A0 117.5%); */
    background: linear-gradient(351.09deg, #a6c2ee 4.36%, #29c2f0 117.5%);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
   border: 1px solid rgb(235, 201, 201);
   color: brown;
   background: rgb(53, 45, 29);
   border-radius: 5px;
   text-align: left;

}

.success h3 {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
   border: 1px solid #3c763d;
   color: #3c763d;
   background: #dff98d;
   border-radius: 5px;
   text-align: left;
   margin-bottom: 20px;

}

.container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #27406b;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 
 .container .content .btn:hover{
    /* background: rgba(119, 152, 214, 0.833); */
    background: #485a7a;
 }

 
 .container .content {
    text-align: center;
}

* {
    font-family: 'Caveat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
div {
    display: block;
}